<head>
        <title>judge
        </title>
        <script src="http://localhost:3000/socket.io/socket.io.js"></script>
        <script>
        </script>
    </head>
    
    <body>
        <table border="1" id="result">
            <tr>
                <td>id</td>
                <td>problem</td>
            </tr>
            <tr>
                <td>
                    <a href="/prob/1">1</a>
                </td>
                <td>
                    a + b
                </td>
            </tr>
        </table>
        <script>
            
        </script>
        
    </body>